.comment-marker {
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
    right: 0px;
}

.comment-score {
    font-weight: bold;
}

.comment-score:before {
    content: "- ";
    font-weight: normal;
}